@inherits LayoutComponentBase

<PageTitle>Hotel</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
        <img src="/img/https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F160726132219-us-beautiful-hotels-4-four-seasons-maui1.jpg" alt="" width="400">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>